#
# SVN directories
#
.svn

#
# Object files
#
*.o
obj
obj.*

*.*~
*~

#
# Disk image
#
*.img

#
# Kernel
#
*.bin
*.map
arch/*/lyos
lyos.gz
*.elf
bootmods

#
# Initrd 
#
initrd.tar
ramdisk/bin
ramdisk/lib
ramdisk/etc
ramdisk/usr
ramdisk/sbin

# 
# Library
#
*.a
*.so

#
# Generated
#
include/lyos/compile.h
scripts/.Config.in.swp
include/config
.config
.config.old
.version

#
# Toolchain
#
toolchain/build
toolchain/local
toolchain/sources

#
# Python files
#
*.pyc

*.swp

sysroot/bin/
sysroot/i686-elf-lyos/
sysroot/include/
sysroot/lib/
sysroot/sbin/
sysroot/share/
sysroot/usr/

init/init
init/init.map

drivers/devman/devman
fs/procfs/procfs

#
# Download
#
scripts/download

#
# Index
#
.ccls-cache
.cquery_cached_index
compile_commands.json
