#
# SVN directories
#
.svn

#
# Object files
#
*.o

*.*~
*~

#
# Disk image
#
80m.img
80m.img.tar.gz
a.img

#
# Bochsrc
#
bochsrc
bochsrc.bxrc

#
# Kernel
#
*.bin
System.map
arch/arm/arm-lyos
lyos

#
# Command files
#
command

# 
# Library
#
lib/liblyos.a

#
# Generated
#
include/lyos/compile.h
scripts/.Config.in.swp
