#
# SVN directories
#
.svn

#
# Object files
#
*.o

*.*~
*~

#
# Disk image
#
lyos-disk.img

#
# Kernel
#
*.bin
System.map
arch/*/lyos
lyos.gz

#
# Initrd 
#
initrd.tar
ramdisk/etc
ramdisk/sbin

# 
# Library
#
*.a

#
# Generated
#
include/lyos/compile.h
scripts/.Config.in.swp
include/config

#
# Toolchain
#
toolchain/build
toolchain/local
toolchain/sources

#
# Python files
#
*.pyc

*.swp

sysroot/bin/
sysroot/i686-elf-lyos/
sysroot/include/
sysroot/lib/
sysroot/sbin/
sysroot/share/
sysroot/usr/

init/init
init/init.map

drivers/devman/devman
fs/procfs/procfs
